<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <%- include('./component/header') %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolore ratione iusto facilis explicabo alias, aliquid quis harum, quidem aspernatur molestias ex quam incidunt fuga quaerat tempora minima placeat. Impedit aspernatur omnis sit quam, illo nihil similique? Culpa, repellat amet!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut similique ipsam sapiente atque illo tempora ad delectus incidunt temporibus.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat molestiae aperiam expedita sint quasi voluptatem maiores fugit. Expedita, tenetur alias asperiores velit voluptatibus quo accusamus blanditiis, eius delectus ad autem.</p>
</body>
</html>